.navbar {
  background-color: red;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: absolute;
  z-index: 9999;
  top: 0px;
}

.categories {
  margin-top: 50px;
}
.aCategory {
  display: flex;
  align-items: center;
}

.aCategory p {
  font-size: 1.5rem;
}

.icon {
  width: 30px;
  height: 30px;
}
